
<mat-card class="header">
  <h1>Administration</h1>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem sed risus ultricies tristique nulla aliquet enim tortor.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-nav-list dense>
    <a mat-list-item href="javascript:void(0)">
      <mat-icon>assessment</mat-icon> 
       Settings Manager</a>

       <a mat-list-item href="javascript:void(0)">
          <mat-icon>assignment</mat-icon> 
           Content-Type Manager</a>

           
       <a mat-list-item href="javascript:void(0)">
          <mat-icon>announcement</mat-icon> 
           Requests Manager</a>
  </mat-nav-list>
</mat-card>

<mat-card>

  <mat-card-content>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let model of models">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>edit</mat-icon>
            {{model.title}}
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
        </mat-expansion-panel-header>
        {{model.description}}
        <app-data-table [models]="model.json" [modelGroup]="modelGroup"></app-data-table>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-card-content>

</mat-card>