<h1>Steppers</h1>

<button mat-raised-button>

</button>

<mat-vertical-stepper [linear]="isLinear" #stepper>

    <!-- <ng-template matStepperIcon="edit">
        <mat-icon>save</mat-icon>
    </ng-template>

     
    <ng-template matStepperIcon="done">
            <mat-icon>save</mat-icon>
        </ng-template> -->


    <ng-template matStepperIcon="number">
        <mat-icon>help</mat-icon>
    </ng-template>


    <mat-step label="General">

        <ul>
            <li>ONe</li>
            <li>two</li>
        </ul>
    </mat-step>

    <mat-step label="Unused">
        <ul>
            <li>three</li>
            <li>four</li>
        </ul>
    </mat-step>
    <mat-step label="Location">

    </mat-step>
</mat-vertical-stepper>